html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.banner {
  height: 90vh;
  background-color: #eb7216; /* Beispiel für ein grünes Banner */
  text-align: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .btn-flat {
  color: white;
  padding: 8px 24px;
  margin: 0px 8px;
  border-radius: 4px;
  background: #1b610a;
  transition: background 0.3s ease;
}

.banner .btn-flat:hover {
  background: #1b610aa5;
  color: white;
}
