{% extends "base.html" %}

{% block title %}Abstimmungen - eVote System{% endblock %}

{% block content %}
<div class="banner">
  <div class="container">
      <h1>Aktuelle Abstimmungen</h1>
      {% if abstimmungen %}
          <ul class="card-grid">
              {% for abstimmung in abstimmungen %}
                  <li class="card-vote">
                    <div class="card-vote-infos">
                      <h2>
                        <a href="{{ url_for('main.abstimmung', id=abstimmung.abstimmungs_id) }}">{{ abstimmung.titel }}</a>
                      </h2>
                      <p>{{ abstimmung.beschreibung }}</p>
                      <p><strong>Zeitraum:</strong>
                         {{ abstimmung.startdatum.strftime('%d.%m.%Y') }} bis {{ abstimmung.enddatum.strftime('%d.%m.%Y') }}
                      </p>
                      <p><strong>Status:</strong>
                        <span class="{% if abstimmung.status == 'Offen' %}text-success{% else %}text-danger{% endif %}">
                          {{ abstimmung.status }}
                         </span>
                      </p>
                    </div>
                    <a class="btn btn-flat" href="/abstimmung">abstimmen</a>
                  </li>
              {% endfor %}
          </ul>
      {% else %}
          <p>Keine aktuellen Abstimmungen verfügbar.</p>
      {% endif %}
  </div>
</div>

{% endblock %}
