{% extends "base.html" %}

{% block title %}{{ abstimmung.titel }} - Detailseite{% endblock %}

{% block content %}

<div class="container abstimmung-detailseite">
  <div class="left">
    <h1>{{ abstimmung.titel }}</h1>
    <p>{{ abstimmung.beschreibung }}</p>
    <p><strong>Zeitraum:</strong> Bis zum {{ abstimmung.frist }}</p>
    <p><strong>Status:</strong>
      <span class="{% if abstimmung.abstimmungsstatus %}text-success{% else %}text-danger{% endif %}">
        {% if abstimmung.abstimmungsstatus %}Offen{% else %}Geschlossen{% endif %}
      </span>
    </p>
  </div>

  <div class="right">
    {% if abstimmung.abstimmungsstatus %}
    <h2 class="mb-3">Ihre Stimme abgeben:</h2>
    <form method="POST">
      <label for="vote">Bitte wählen: </label>
      <select name="vote" id="vote" required>
        <option value="Ja">Ja</option>
        <option value="Nein">Nein</option>
      </select>
      <br>
      <button type="submit" class="btn btn-primary mt-3">Abstimmen</button>
    </form>
    {% else %}
    <p>Die Abstimmung ist geschlossen. Vielen Dank für Ihr Interesse.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
