{% extends "base.html" %}

{% block title %}Dashboard - eVote System{% endblock %}

{% block content %}
  <div class="container dashboard">
    <h1 class="mb-4">Willkommen auf eVote {{ user_name }}</h1>

    <!-- Aktuelle Abstimmungen -->
    <section style="margin: 50px 0;">
      <div class="header-container">
        <h2 class="ms-4 text-start">Aktuelle Abstimmungen</h2>
        <a class="link-small" href="{{ url_for('main.abstimmungen_uebersicht') }}">Alle Abstimmungen anzeigen</a>
      </div>
        {% if abstimmungen %}
          <ul class="card-grid">
            {% for abstimmung in abstimmungen %}
              <li class="card-vote">
                <a href="{{ url_for('main.abstimmung', id=abstimmung.abstimmungid) }}" class="card-link">
                  <h5>{{ abstimmung.titel }}</h5>
                  <p>{{ abstimmung.beschreibung }}</p>
                  <p><strong>Zeitraum:</strong> Bis zum {{ abstimmung.frist }}</p>
                  <p><strong>Status:</strong>
                      <span class="{% if abstimmung.status %}text-success{% else %}text-danger{% endif %}">
                        {% if abstimmung.status %}Offen{% else %}Geschlossen{% endif %}
                        </span>
                  </p>
                </a>
              </li>
            {% endfor %}
          </ul>

        {% else %}
          <p>Keine aktuellen Abstimmungen verfügbar.</p>
        {% endif %}
    </section>

  <!-- Meine teilgenommenen Abstimmungen -->
    <section style="margin: 50px 0;">
      <h2 class="ms-4 text-start">Meine teilgenommenen Abstimmungen</h2>
      {% if teilgenommene_abstimmungen %}
        <ul class="card-grid">
          {% for abstimmung in teilgenommene_abstimmungen %}
            <li class="card-vote">
              <h5>{{ abstimmung.titel }}</h5>
              <p><strong>Ihre Stimme:</strong> {{ abstimmung.stimme }}</p>
              <p><strong>Status:</strong> {% if abstimmung.status %}Offen{% else %}Geschlossen{% endif %}</p>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Sie haben an noch keiner Abstimmung teilgenommen.</p>
      {% endif %}
    </section>


  <!-- Ergebnisse beendeter Abstimmungen -->
    <section style="margin: 50px 0;">
      <div class="header-container">
        <h2 class="ms-4 text-start">Ergebnisse beendeter Abstimmungen</h2>
        <a class="link-small" href="{{ url_for('main.ergebnis_übersicht') }}">Alle Ergebnisse anzeigen</a>
      </div>
      {% if ergebnisse %}
        <ul class="card-grid">
          {% for ergebnis in ergebnisse %}
            <li class="card-vote">
              <h5>{{ ergebnis.titel }}</h5>
              <p><strong>Ergebnis:</strong> {{ ergebnis.ergebnis }}</p>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Keine Ergebnisse verfügbar.</p>
      {% endif %}
    </section>
  </div>
{% endblock %}
