{% extends "base.html" %}

{% block title %}Ergebnisse - eVote System{% endblock %}

{% block content %}
<div class="container">
  <h1 class="">Ergebnisse der Abstimmungen</h1>

  {% if ergebnisse %}
    <ul class="card-grid">
      {% for ergebnis in ergebnisse %}
        <li class="card-vote">
          <h5>{{ ergebnis.titel }}</h5>
          <p>{{ ergebnis.beschreibung }}</p>
          <p><strong>Ergebnis:</strong> {{ ergebnis.ergebnis }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Keine Ergebnisse verfügbar.</p>
  {% endif %}
</div>
{% endblock %}

