<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eVote Login</title>
  <link rel="stylesheet" href="styles.css">
  <script defer src="app.js"></script>
</head>

<body>
  <header>
    <h1>Willkommen im Bürgerabstimmungssystem</h1>
    <p>Melden Sie sich an oder registrieren Sie sich, um teilzunehmen!</p>
  </header>
  <h1>Login</h1>
    <form method="POST" action="/api/login">
        <label for="email">E-Mail:</label>
        <input type="email" id="email" name="email" placeholder="E-Mail" required>
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" placeholder="Passwort" required>
        <button type="submit">Einloggen</button>
    </form>
</body>

</html>
