.banner {
  background-color: #DCE4C9;
  text-align: center;
  padding: 50px 0;
  flex: 1;
}

.banner h1 {
  color: #61210F;
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: #001723;
  opacity: .7;
}

.link-small {
  text-decoration: none;
  opacity: .7;
  font-size: 14px;
}
