.profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.profile-row {
    display: flex;
    justify-content: space-between;
}

.profile-label {
    font-weight: bold;
    color: #555;
    width: 40%; /* Breite der Labels */
}

.profile-value {
    color: #333;
    width: 60%; /* Breite der Werte */
    text-align: left;
}
